<html>
<form action="/mongooses" method="post">
  <p>Name:</p><input type="text" name="name">
  <p>Age:</p><input type="text" name="age">
  <p>Type:</p><input type="text" name="type">
  <input type="submit" value="submit">
</form>
</html>
